:root {
  --bg-gradient: linear-gradient(107.56deg, #6400ae 32.44%, #3605d3 100%);
}
.page {
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-blend-mode: overlay !important;
}
.page-index,
.page-base {
  background: url("/src/assets/img/bg_index.png") 0 100px, var(--bg-gradient);
  transition: background-position 0.5s;
}
.page.page-cashflow {
  background: url("/src/assets/img/bg_cashflow.png") 0 100%;
}
.page.page-shared {
  background: url("/src/assets/img/bg_shared.png") 0 100px;
}
.page-about {
  background: url("/src/assets/img/bg_about.png"), var(--bg-gradient);
}
.page-team {
  background: url("/src/assets/img/bg_team.png"), var(--bg-gradient);
}

.page-shared2 {
  background: url("/src/assets/img/bg_shared2.png") 0 100%, var(--bg-gradient);
}
.page-timer {
  background: url("/src/assets/img/bg_timer.png") 0 100%, var(--bg-gradient);
}
.page-participation {
  background: url("/src/assets/img/bg_cashflow.png") 0 100%;
}
.page-extra {
  background: url("/src/assets/img/bg_extra.png"), var(--bg-gradient);
}


.top {
  margin-top: -100px;
  position: relative;
}

@media(min-width: 992px){
  .page-counter,
  .page-presale,
  .page-publicsale {
    .main-content { padding-bottom: 0; }
  }
}

@media (max-width: 991px) {
  .page-counter,
  .page-presale,
  .page-publicsale {
    margin-top: 0;
    background: var(--bg-gradient);
    video {
      display: none;
    }
  }
  .page-counter {
    .main-content {
      height: 101vh;
    }
  }
}
