.video-background {
  position: relative;
  width: 200vw;
  margin: -72px 0 0 -100vw;
  transition: opacity .5s;
}
.v-leave-active .video-background {
  opacity: 0;
}
.page-airdrop .video-background {
  margin-left: -60px;
}
@media (max-width: 991px) {
  .page-counter, .page-publicsale, .page-presale {
    .main-content > .container {
      padding-top: 100px;
      min-height: 100vh;
    }
  }
}
@media (min-width: 992px) {
  .video-background {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    object-fit: cover;
  }
  .page-counter, .page-publicsale, .page-presale {
    .main-content {
      position: relative;
    }
    .video-background {
      position: absolute;
    }
    .row > .text-column {
      height: calc(100vh - 100px);
    }
    .text-column {
      z-index: 10000;
      padding-top: 100px;
    }
  }
}
