:root {
  --bg-gradient: linear-gradient(107.56deg, #6400AE 32.44%, #3605D3 100%);
}
.page {
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-blend-mode: overlay !important;
}
.page-index, .page-base {
  background: url('/src/assets/img/bg_index.png') 0 100px, var(--bg-gradient);
  transition: background-position .5s;
}
.page.page-cashflow {
  background: url('/src/assets/img/bg_cashflow.png') 0 100%;
}
.page.page-shared {
  background: url('/src/assets/img/bg_shared.png') 0 100px;;
}
.page-about {
  background: url('/src/assets/img/bg_about.png'), var(--bg-gradient);
}
.page-team {
  background: url('/src/assets/img/bg_team.png'), var(--bg-gradient);
}
.page-counter {
  @media(min-width: 991px){
    .main-content {
      height: 101vh;
    }
  }
}
.page-counter,
.page-presale,
.page-publicsale {
  .main-content {
    padding-top: 100px;
    margin-top: -100px;
  }
  @media(max-width: 991px){
    margin-top: 0;
    background: var(--bg-gradient);
    video { display: none; }
  }
}
.page-shared2 {
  background: url('/src/assets/img/bg_shared2.png') 0 100%, var(--bg-gradient);
}
.page-timer {
  background: url('/src/assets/img/bg_timer.png') 0 100%, var(--bg-gradient);
}
.page-participation {
  background: url('/src/assets/img/bg_cashflow.png') 0 100%;
}
.page-extra {
  background: url('/src/assets/img/bg_extra.png'), var(--bg-gradient);
}

.video-container {
  position: relative;
  padding-bottom: 0 !important;
  overflow: hidden;
  .top {
    @media (min-width: 991px) {
      height: 650px;
      border: 3px solid yellow;
    }
  }
}
.video-background {
  @media(max-width: 991px){
    bottom: 0;
    width: 200vw;
    max-width: 200vw;
    margin-left: -60px;
  }
  @media(min-width: 992px){
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
  }
}