:root {
  --bg-gradient: linear-gradient(116.82deg, #3605D3 0%, #3605D3 0.01%, #6400AE 64.39%);
}
.page {
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-blend-mode: overlay !important;
}
.page-index, .page-base {
  background: url('/src/assets/img/bg_index.png') 0 100px, var(--bg-gradient);
  transition: background-position .5s;
}
.page.page-cashflow {
  background: url('/src/assets/img/bg_cashflow.png') 0 100%;
}
.page.page-shared {
  background: url('/src/assets/img/bg_shared.png') 0 100px;;
}
.page-about {
  background: url('/src/assets/img/bg_about.png'), var(--bg-gradient);
}
.page-team {
  background: url('/src/assets/img/bg_team.png'), var(--bg-gradient);
}
.page-counter {
  background: url('/src/assets/img/bg_counter_lines.png') 0 100px, var(--bg-gradient);
}
.page-shared2 {
  background: url('/src/assets/img/bg_shared2.png') 0 100%, var(--bg-gradient);
}
.page-timer {
  background: url('/src/assets/img/bg_timer.png') 0 100%, var(--bg-gradient);
}
.page-airdrop {
  background: url('/src/assets/img/bg_airdrop.png');
}
.page-participation {
  background: url('/src/assets/img/bg_cashflow.png') 0 100%;
}
.page-extra {
  background: url('/src/assets/img/bg_extra.png'), var(--bg-gradient);
}