@media(max-width: 991px){
  .page-index .video-background {
    margin-left: -100vw;
  }
}
.index-text-block {
  animation: fadeIn 1s forwards;
  animation-delay: 2.15s;
  opacity: 0;
}

.contract-link {
  font-size: .8em;
}

@media(min-width: 992px){
  .page-index .bp-page-subtitle,
  .page-base .bp-page-subtitle {
    font-size: 1.5em !important;
    font-weight: 400 !important;
  }

  .index-text-block {
    padding: 50px 0 200px 55px;
    h1 {
      white-space: nowrap;
      font-weight: 700;
    }
  }

  .contract-link {
    font-size: 1em;
  }
}