.page-counter .text-block {
  padding-bottom: 50px !important;
}
.singleton-timer-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 170px;
  padding: 0;
}
.underlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all .4s;
}

.singleton-timer {
  display: flex;
  padding: 1rem 2em;
  transition: all .4s;

  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;

  background: rgba(217, 217, 217, 0.01);
  box-shadow: inset 0px 15px 13px rgba(255, 255, 255, 0.5), inset 0px 7px 3px #FFFFFF, inset 0px -23px 15px rgba(96, 68, 144, 0.3), inset 0px 22px 40px rgba(202, 172, 255, 0.3), inset 0px 4px 20px rgba(154, 146, 210, 0.3), inset 0px 1px 20px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(50px);
  overflow: hidden;
  @media(min-width: 991px){
    padding: 1em 6em;
  }
}
.singleton-timer .timer-block {
  color: #fff;
  font-weight: 700;
  text-align: center;
  &:last-child .number { border: none; }
}
.number {
  font-size: 2.5em;
  line-height: .8em;
  border-right: 1px solid #fff;
  margin-bottom: .75rem;
  padding: 0 .25em;
  transition: all .4s;
}
.label {
  font-size: 1em;
  transition: all .4s;
}

.singleton-timer:hover {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;

  .number {
    font-size: 4em;
  }
  .label {
    font-size: 1.5em;
  }
  .underlay {
    opacity: 1;
    background: linear-gradient(360deg, #FF47F8 0%, rgba(255, 255, 255, 0) 100%);
    mix-blend-mode: overlay;
    filter: blur(16.5px);
  }
}