.tabpanel {
  margin: 100px auto;
  color: #fff;
}

.tabpanel-header {
  display: flex;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
}
.tabpanel-tab {
  position: relative;
  z-index: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // width: 248px;
  padding: 1rem 3rem;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  overflow: hidden;
  background: #8334C6;

  &:last-child {
    margin-left: -30px;
    background: #BC0FFD;
  }

  &.active {
    z-index: 1000;
    .tabpanel-tab-content {
      opacity: 1;
      transform: scale(1.18);
    }
  }
}

.tabpanel-tab-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: .35;
  transition: all .2s;
  transform-origin: center;
  user-select: none;
}
.tabpanel-tab-content svg {
  margin-right: .9em;
}

.tabpanel-tab:first-child {
  &.active {
    svg {
      animation: swipeInLeft 0.6s cubic-bezier(.36,.07,.19,.97) both;
    }
  }
  &.leaving {
    svg {
      animation: swipeOutLeft 0.6s cubic-bezier(.36,.07,.19,.97) both;
    }
  }
}
.tabpanel-tab:last-child {
  &.active {
    svg {
      animation: swipeInRight 0.6s cubic-bezier(.36,.07,.19,.97) both;
    }
  }
  &.leaving {
    svg {
      animation: swipeOutRight 0.6s cubic-bezier(.36,.07,.19,.97) both;
    }
  }
}

.tabpanel-body {
  display: flex;
  flex-flow: column;
  padding: 2.5em .5em 2em 1.25em;
  background: #8334C6;
  overflow: hidden;
  @media(min-width: 991px){
    flex-flow: row;
    width: fit-content;
    border-top-right-radius: 40px;
  }
}
.tabpanel-column:first-child {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0 1.25em;
}
.tabpanel-column:last-child {
  padding: 0 1.25em;
}
.tabpanel-body h4 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: .5em;
}
.tabpanel-valuebox {
  font-size: 2.5em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  @media(min-width: 991px){
    width: 207px;
  }
}
.tabpanel-valuebox-small {
  font-size: 24px;
}

.tabpanel-showcase {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 40px 0;
  border-top-right-radius: 2em;
  background: #6400AE;
  .tabpanel-valuebox span {
    margin-right: 1rem;
  }
  img {
    animation: swipeInRight .5s forwards;
  }
  @media(min-width: 991px){
    margin-top: 0;
  }
}

// .tabpanel
// .tabpanel-header
// .tabpanel-tab
// .tabpanel-tab-content

// .tabpanel-body
// .tabpanel-columns
// .tabpanel h4
// .tabpanel-valuebox
// .tabpanel-valuebox-small